:root {
    --leading-theme-color: #523762;
    --second-leading-color: rgb(57, 27, 84);
    --third-leading-color: #00B4AE;
    --polaroid-icon-img: "grafiki_pod_strone/polaroid2.png";
}
*{
    scroll-behavior: smooth;
    font-family: 'Yeseva One', sans-serif;
}

html {
    margin: 0 !important;
    padding: 0 !important;
}
