#infoWindow, #infoWindow2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    display: none;
    z-index: 1000;
}
#infoWindow h2 {
    margin-top: 0;
    z-index: 1000;
}
#closeButton {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #210c33 !important;

}

#closeButton:hover {
    border: solid 3px var(--second-leading-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}
#closeButton:active {
    border: solid 3px var(--second-leading-color);
    background-color: var(--second-leading-color);
    border-radius: 50%;
    color: rgba(0, 180, 174, 0.5) !important;
    display: flex;
    justify-content: center;
    align-content: center;
}

#infoWindow2 {
    color: #210c33;
    background-image: linear-gradient(rgba(0, 180, 174, 0.5),rgba(0, 180, 174, 0.3));
    border: solid 3px var(--second-leading-color);
    padding: 3%;
    max-width: 95vw;
}

@media screen and (max-width: 480px){
    #infoWindow2 h2 {
       font-size: 20px;
    }
}